<div class="container-fluid footer_main_bg">
    <div class="container">
        <div class="col-lg-4">
            <div class="bg_logo">
                <img class="img_logo_footer" src="../img/logo-copy.png">
            </div>
            <p class="cont">
                Call now: +1-044-147-0235
            </p>
            <p class="cont">
                Email: companyname@gmail.com
            </p>
            <p class="cont">
                Email: companyname@gmail.com
            </p>
        </div>
        <div class="col-lg-8">
            <div class="footer_block">
                <p class="block_foter_text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                    qui ratione voluptatem sequi nesciunt.

                </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid footer_down">
    <div class="container">
        <div class="col-lg-4">
            <div class="join_us_footer">Join us:</div>
            <div class="pint">
                <i class="fab fa-pinterest"></i>
            </div>
            <div class="twitt">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="faceb">
                <i class="fab fa-facebook-f"></i>
            </div>
        </div>

        <div class="col-lg-5 col-lg-offset-3">
            <div class="copyring">Copyright © 2016 CompanyName.com</div>
        </div>
    </div>
</div>

</body>
</html>