<main>
    <div class="container-fluid bg_of_main">
        <div class="container">
            <div class="row">
                <h2>Our Advantages</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <a class="main_block icon-icon1">
                        ANY ACADEMIC LEVEL
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="main_block spr1">
                        <img class="splits" src="../img/icon2.png"><br>

                        OVER 300 WORDS PER PAGE
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="main_block">
                        <img class="splits" src="../img/icon3.png"><br>

                        FREE PLAGIARISM REPORT
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">

                    <a class="main_block">
                        <img class="splits" src="../img/icon4.png"><br>
                        20% off your first order
                    </a>
                </div>
                <div class="col-lg-4">

                    <a class="main_block">
                        <img class="splits" src="../img/icon5.png"><br>
                        Direct communication with the writer
                    </a>
                </div>
                <div class="col-lg-4">
                    <a class="main_block">
                        <img class="splits" src="../img/icon6.png"><br>
                        Flexible discount program
                    </a>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        COMPANYNAME.com has come forward
                        to provide you with high quality papers
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <p class="aboutcompany">
                        Student years are the best time of one’s life. You are in the prime of your life and hopeful
                        about the bright future ahead. This is the period that leaves the funniest photos, the sweetest
                        memories, and gives you the most faithful friends. However, there is one thing that spoils all
                        the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only
                        to find that the deadline is getting closer, and the work is not ready yet? Are you desperate
                        for someone to have your paper done? Ordering it online is a really convenient option, but you
                        must be sure that the final product is worth the price. EssaysService.com is one of the leading
                        online writing centers that deliver only premium quality essays, term papers, and research
                        papers.
                        Once you place an order and provide all the necessary instructions, one of our writers will
                        start working on it. Be sure we won’t choose a person to do your paper at random. The writer
                        assigned will hold an academic degree in the respective area of expertise, which makes it
                        possible for him/her to find the relevant information, carry out exhaustive research, and
                        develop a comprehensible and well-organized document.
                        The final product will meet all your specifications regarding the content and formatting style.
                        What is more, you will not have to proofread it for any grammatical or spelling errors, because
                        our professionals have a really good command of the English language.
                        All the papers EssaysService.com delivers are completely original as we check every single work
                        for plagiarism via advanced plagiarism detection software. You will receive a free plagiarism
                        report together with your essay to show its originality.
                        Being tempted by low prices and promises of quick paper delivery, you may choose another paper
                        writing service. The truth is that more often than not their words are hollow. While the main
                        purpose of such doubtful companies is to cash in on credulity of their clients, the prime
                        objective of EssaysService.com is clients’ satisfaction. We do fulfill our guarantees, and if a
                        customer is displeased with the final paper he/she had received (which hardly ever occurs),
                        he/she will surely get a full refund. However, a refund request is acceptable only within 14
                        days of the initial deadline.
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid transparent_bg">
            <div class="container">
            <span class="howitworks">
                How it works
            </span>
                <div class="row">
                    <div class="col-lg-1">
                        <div class="block1">
                            <img src="../img/shade.png">
                        </div>
                    </div>
                    <div class="col-lg-2 hiwtext">
                        1. Place Your Order
                    </div>
                    <div class="col-lg-1 col-lg-offset-2">
                        <div class="block2">
                            <img src="../img/shade-copy.png">
                        </div>
                    </div>
                    <div class="col-lg-2 hiwtext">
                        3. Your Order is Completed
                    </div>
                    <div class="col-lg-1 col-lg-offset-1">
                        <div class="block3">
                            <img src="../img/-.png">
                        </div>
                    </div>
                    <div class="col-lg-2 hiwtext">
                        5. Download
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <div class="vertline">

                        </div>
                    </div>
                    <div class="col-lg-1 col-lg-offset-4">
                        <div class="vertline">

                        </div>
                    </div>
                    <div class="col-lg-1 col-lg-offset-3">
                        <div class="vertline">

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-1">
                        <div class="dot">

                        </div>
                    </div>
                    <div class="col-lg-1 col-lg-offset-4">
                        <div class="dot">

                        </div>
                    </div>
                    <div class="col-lg-1 col-lg-offset-3">
                        <div class="dot">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="line">

                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-1 col-lg-offset-2">
                        <div class="dot2">
                        </div>
                    </div>
                    <div class="col-lg-2 hiwtext">
                    </div>
                    <div class="col-lg-1 col-lg-offset-2">
                        <div class="dot2">
                        </div>
                    </div>
                    <div class="col-lg-2 hiwtext">
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-1 col-lg-offset-2">
                        <div class="vertline">
                        </div>
                    </div>
                    <div class="col-lg-2 hiwtext">
                    </div>
                    <div class="col-lg-1 col-lg-offset-2">
                        <div class="vertline">
                        </div>
                    </div>
                    <div class="col-lg-2 hiwtext">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-1 col-lg-offset-2">
                        <div class="block4">
                            <img src="../img/pen.png">
                        </div>
                    </div>
                    <div class="col-lg-2 hiwtext">
                        2. Upload Additional Information
                    </div>
                    <div class="col-lg-1 col-lg-offset-2">
                        <div class="block5">
                            <img src="../img/scan.png">
                        </div>
                    </div>
                    <div class="col-lg-2 hiwtext">
                        4. Free plagiarism report
                    </div>
                </div>


            </div>
        </div>
        <div class="container-fluid ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="h2header">
                            Ordering a Paper
                            at Company.com Is Worth It
                        </h2>
                        <ul class="textcolonul">
                            <li>Any type of writing paper assignment – from a high school essay to university term
                                paper.
                            </li>
                            <li>Our writers always follow the customers' requirements very carefully.</li>
                            <li>100% original paper and a plagiarism report to prove it.</li>
                            <li>Your order will be delivered in a timely manner. If we fail to meet the deadline, the
                                customer will get his/her money back.
                            </li>
                            <li>A writer who is an expert in the respective field of study.</li>
                            <li>In case the essay or research paper doesn’t satisfy your requirements, you can ask for
                                revision. We will make all necessary changes and edit your work until you are
                            </li>
                            <li>100% satisfied with the final results. Just make sure that you put in a request for
                                revision
                                within 48 hours of the initial deadline. The only exception is made for 20+ page papers
                                –
                                you may submit your request for revision not later than a month after you receive your
                                paper.
                            </li>
                            <li>Loyal customers have the privilege of buying papers at a reduced price.</li>
                        </ul>
                        <div class="readmore_btn">
                            <img src="../img/arrow-copy.png">
                            READ MORE
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h2 class="h2header">
                            CompanyName.com
                            is the best Essay Writing Service
                        </h2>
                        <p class="textcolon">The final product will meet all your specifications regarding the content
                            and
                            formatting style.
                            What is more, you will not have to proofread it for any grammatical or spelling errors,
                            because
                            our professionals have a really good command of the English language.

                            All the papers EssaysService.com delivers are completely original as we check every single
                            work
                            for plagiarism via advanced plagiarism detection software. You will receive a free
                            plagiarism
                            report together with your essay to show its originality.
                            Being tempted by low prices and promises of quick paper delivery, you may choose another
                            paper
                            writing service. The truth is that more often than not their words are hollow. While the
                            main
                            purpose of such doubtful companies is to cash in on credulity of their clients, the prime
                            objective of EssaysService.com is clients’ satisfaction. We do fulfill our guarantees, and
                            if a
                            customer is displeased with the final paper he/she had received (which hardly ever occurs),
                            he/she will surely get a full refund. However, a refund request is acceptable only within 14
                            days of the initial deadline.
                        </p>
                        <div class="readmore_btn">
                            <img src="../img/arrow-copy.png">
                            READ MORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>